@if (ViewBag.CurrentSortBy == ViewBag.ColumnName && ViewBag.CurrentSortOrder == SortOrderOptions.ASC.ToString())
{
    <th><a href="~/person/index?searchBy=@ViewBag.CurrentSearchBy&searchString=@ViewBag.CurrentSearchString&sortby=@ViewBag.ColumnName&sortOrder=@nameof(SortOrderOptions.DSC)">@ViewBag.DisplayName</a><i class="fa-solid fa-sort-up"></i></th>
}
else if (ViewBag.CurrentSortBy == ViewBag.ColumnName && ViewBag.CurrentSortOrder == SortOrderOptions.DSC.ToString())
{
    <th><a href="~/person/index?searchBy=@ViewBag.CurrentSearchBy&searchString=@ViewBag.CurrentSearchString&sortby=@ViewBag.ColumnName&sortOrder=@nameof(SortOrderOptions.ASC)">@ViewBag.DisplayName</a><i class="fa-solid fa-sort-down"></i></th>
}
else
{
    <th><a href="~/person/index?searchBy=@ViewBag.CurrentSearchBy&searchString=@ViewBag.CurrentSearchString&sortby=@ViewBag.ColumnName&sortOrder=@nameof(SortOrderOptions.DSC)">@ViewBag.DisplayName</a><i class="fa-solid fa-sort"></i></th>
}